<Configuration>
  <Database>
    <Host>%DB_HOST%</Host>
    <Port>%DB_PORT%</Port>
    <Username>%DB_USERNAME%</Username>
    <Password>%DB_PASSWORD%</Password>
    <Name>%DB_NAME%</Name>
  </Database>
  <Opal>
    <Host>%OPAL_HOST%</Host>
    <Port>%OPAL_PORT%</Port>
    <Username>%OPAL_USERNAME%</Username>
    <Password>%OPAL_PASSWORD%</Password>
    <Timeout>%OPAL_TIMEOUT%</Timeout>
    <Verbose>%OPAL_VERBOSE%</Verbose>
  </Opal>
  <Path>
    <Log>%LOG_PATH%</Log>
    <ImageData>%IMAGEDATA_PATH%</ImageData>
  </Path>
  <SmtpServer1>
    <Host>%SMTP1_HOST%</Host>
    <Name>%SMTP1_NAME%</Name>
    <Port>%SMPT1_PORT%</Port>
    <SSL>%SMTP1_SSL%</SSL>
  </SmtpServer1>
  <SmtpServer2>
    <Host>%SMTP2_HOST%</Host>
    <Name>%SMTP2_NAME%</Name>
    <Port>%SMPT2_PORT%</Port>
    <SSL>%SMTP2_SSL%</SSL>
  </SmtpServer2>
</Configuration>
